.toggle-switch {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 56px;
}

.toggle-switch__label {
  display: block;
  box-sizing: border-box;
  position: relative;
  height: 28px;
  width: 56px;
  background: white;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
}

.toggle-switch__input {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.toggle-switch__circle {
  position: absolute;
  top: -2px;
  left: -2px;
  height: 28px;
  width: 28px;

  border-radius: 28px;
  background-color: black;

  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transition-property: all;
}

.toggle-switch__text {
  user-select: none;

  color: #7e7e7e;
  mix-blend-mode: difference;

  position: absolute;
  top: 0;
  bottom: 0;
  width: 24px;

  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.24;

  display: flex;
  align-items: center;
  justify-content: center;
}
