.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
}

.modal__opened {
  display: flex;
}

.modal__caption {
  width: 36px;
  height: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin: 20px 0 12px 32px;
}

/*.modal__content {
    position: relative;
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    width: 90%;
    height: 498px;
    max-width: 498px;
  }*/

.modal__content_type_image {
  padding: 0;
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  width: 90%;
  height: 498px;
  max-width: 498px;
}

/*.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 20;
  }
  
  .modal__close-icon {
    width: 24px;
    height: 24px;
  }*/

.modal__image-container {
  position: relative;
}

.modal__image {
  width: 100%;
  height: 100%;
  display: block;
}

.modal__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  color: #000;
}

.modal__weather {
  margin: 0 0 32px 32px;
}
