.modal__content_type_image {
  max-width: 498px;
  max-height: 610px;
  margin-top: 106px;
  width: 100%;
  border-radius: 20px;
  background-color: #d9d9d9;
  padding: 0;
}

.modal__image {
  max-width: 498px;
  max-height: 498px;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__caption {
  border-radius: 16px;
  margin: 0;
}

.modal__footer {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start; /* Align text to the left */
  padding: 16px;
  position: relative; /* Ensure delete button is positioned within */
  flex-direction: row;
}

.modal__close {
  background-image: url("../../assets/images/Closebutton.svg");
  background-color: transparent;
}

.modal__delete-button {
  background: none;
  border: none;
  color: #ff4d00;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  gap: 8px;
  margin-left: auto; /* Pushes it to the right */
}

.modal__delete-button:hover {
  text-decoration: underline;
}

.modal__weather {
  display: block;
  margin-top: 4px; /* Spacing below item name */
}
